body{
  margin:0;
  background:var(--paper);
  color:var(--ink);
  font-family:"DM Sans",sans-serif;
  line-height:1.8;
}
.hero,

.section,

.music{

  position:relative;

  z-index:1;

}
/* AJUSTE FINAL DE LAS FLORES 🌸 */

body::before{
  opacity:.22 !important;
  z-index:0 !important;
}

.hero,
.section,
.music{
  position:relative;
  z-index:1;
  background:transparent !important;
}


